.homeVideo {
    background-color: $black2;
    padding-bottom: 3rem;
    padding-top: 4rem;
    padding-right: 0.6rem;
    padding-left: 1rem;
    text-align: left;

    &__intro-title {
        @include sectionSubtitle($beige, 0.875rem, 0.95rem);
        margin-bottom: 1rem;
        padding-bottom: 1.5rem;
    }

    &__main-title {
        @include sectionTitle($whiteF);
        margin-bottom: 1.5rem;
        max-width: 300px;
    }

    &__description {
        font-family: $archivo;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5rem;
        text-align: left;
        color: $greyC2;
        margin-bottom: 2rem;
        max-width: 338px;
    }

    &__video-container {
        margin: 0 auto;
        margin-bottom: 2rem;
        position: relative;

        &__video {
            width: 335px;
            height: 270px;
            border: none;
        }

        &__play-button {
            position: absolute;
            top: 50%;
            left: 167px;
            transform: translate(-50%, -50%);
            width: 5rem;
            height: 5rem;
            background-color: $whiteF;
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }


    &__button {
        @include defaultButton($beige, $beigeHover, $whiteF, 13.5rem);
    }

}