@import '../../globalVariables.scss';
@import '../../mixins.scss';
@import '../../components/navbar.scss';
@import'../../components/luxuryExperience.scss';
@import '../../components/roomCard.scss';
@import '../../components/roomsPagination.scss';
@import '../../components/footer.scss';


html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    min-width: 320px
}