@import '../../globalVariables.scss';
@import '../../mixins.scss';
@import '../../components/navbar.scss';
@import '../../components/footer.scss';
@import'../../components/luxuryExperience.scss';
@import '../../components/home/reservationCalendar.scss';
@import '../../components/home/homeAboutUs.scss';
@import '../../components/home/homeVideo.scss';
@import '../../components/home/homeInfo.scss';



html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    min-width: 320px
}