@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.navbar {
  display: block;
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
  color: #111111;
  font-family: "Archivo", sans-serif;
  line-height: 0.8rem;
  padding: 1rem;
  transition: box-shadow 0.3s ease-in-out;
}
.navbar.navbar--expanded {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.navbar__menu-icon {
  display: inline-block;
  width: 18px;
  margin-right: 2rem;
  vertical-align: middle;
  cursor: pointer;
}
.navbar__menu-icon img {
  width: 100%;
}
.navbar__logo {
  display: inline-block;
  text-align: left;
  width: 50%;
  position: relative;
}
.navbar__logo-start {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  color: #111111;
  vertical-align: middle;
  margin-right: 1rem;
  padding: 10px 10px;
  box-shadow: 0px 1px 2px 0px rgba(139, 139, 139, 0.2509803922);
  text-align: center;
}
.navbar__logo__text {
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 50%;
}
.navbar__logo__text-top {
  display: block;
  font-size: 0.7rem;
  font-weight: 700;
}
.navbar__logo__text-bottom {
  display: block;
  font-size: 0.7rem;
  color: #111111;
  font-weight: 400;
}
.navbar__icons {
  display: inline-block;
  float: right;
}
.navbar__icons .navbar__icon {
  display: inline-block;
  width: 24px;
  margin-left: 1rem;
  margin-right: 0.2em;
  cursor: pointer;
}
.navbar__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 2;
  margin-top: 0.2rem;
}
.navbar__dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar__dropdown ul li {
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar__dropdown ul li a {
  display: block;
  padding-top: 1.2rem;
  padding-left: 1rem;
  color: #111111;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
}
.navbar__dropdown ul li a:hover {
  background-color: #bead8e;
}

.footer {
  font-family: "Roboto", sans-serif;
  background-color: #F5F5F5;
  padding: 2rem 1rem;
  padding-bottom: 0.5rem;
}
.footer__logo {
  display: inline-block;
  text-align: left;
  width: 60%;
  position: relative;
}
.footer__logo-start {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  color: #F5F5F5;
  vertical-align: middle;
  margin-right: 0.8rem;
  padding: 13px 20px;
  box-shadow: 0px 1px 2px 0px rgba(139, 139, 139, 0.2509803922);
  text-align: center;
  background-color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
}
.footer__logo__text {
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-family: "Archivo", sans-serif;
  color: #111111;
  width: 50%;
}
.footer__logo__text-top {
  display: block;
  font-size: 1.625rem;
  font-weight: 700;
}
.footer__logo__text-bottom {
  display: block;
  font-size: 1.625rem;
  font-weight: 400;
}
.footer__text {
  padding-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #777777;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  margin-top: 1rem;
  max-width: 342px;
}
.footer__social {
  margin-top: 1rem;
  vertical-align: middle;
}
.footer__social a {
  margin-right: 0.5rem;
  margin-left: 0.7rem;
}
.footer__social a img {
  width: 24px;
  height: 24px;
}
.footer__social-tw {
  background-color: #BEAD8E;
  padding: 4px 8px;
  padding-top: 17px;
  margin-right: 0.2rem !important;
  margin-left: 0.2rem !important;
}
.footer__services {
  margin-top: 2rem;
}
.footer__services-title {
  font-family: "Old Standard TT", serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.footer__services-list {
  display: flex;
  margin-top: 1rem;
}
.footer__services-list-column {
  width: 48%;
  margin-right: 0.5rem;
}
.footer__services-list-column ul {
  list-style-type: none;
  padding: 0;
}
.footer__services-list-column ul li {
  margin-bottom: 0.5rem;
  margin-top: 1.8rem;
  font-weight: 400;
  color: #777777;
}
.footer__contact {
  margin-top: 2rem;
}
.footer__contact-title {
  font-family: "Old Standard TT", serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.footer__contact-item {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.footer__contact-item img {
  width: 36px;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.footer__contact-item-title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  color: #222222;
}
.footer__contact-item-info {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.035rem;
  font-weight: 400;
  color: #777777;
}
.footer__copyright {
  margin-top: 2rem;
  text-align: left;
}
.footer__copyright p {
  margin-top: 1.5em;
  font-size: 1rem;
  line-height: 1.16rem;
  font-weight: 700;
  color: #000000;
}

.reservationCalendar {
  background-color: #000;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-left: 1.2rem;
  padding-bottom: 2rem;
  text-align: left;
}
.reservationCalendar__item {
  margin-bottom: 2rem;
  text-align: left;
}
.reservationCalendar__item-title {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.17rem;
  color: #fff;
  margin-bottom: 1rem;
}
.reservationCalendar__item-inputContainer {
  display: flex;
}
.reservationCalendar__item-inputContainer__input {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  color: #686868;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.reservationCalendar__divider {
  height: 2px;
  background: #BEAD8E;
  border: #BEAD8E;
  width: 21rem;
  margin: 0.5rem 0;
  margin-top: 1rem;
}
.reservationCalendar__button {
  font-family: "Archivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 0.95rem;
  letter-spacing: 0.175rem;
  color: #fff;
  background-color: #BEAD8E;
  width: 15.625rem;
  height: 3.75rem;
  border: none;
  cursor: pointer;
  opacity: 1;
  text-transform: uppercase;
  margin-top: 2rem;
}
.reservationCalendar__button:hover {
  background-color: #ab966e;
}

.homeVideo {
  background-color: #000000;
  padding-bottom: 3rem;
  padding-top: 4rem;
  padding-right: 0.6rem;
  padding-left: 1rem;
  text-align: left;
}
.homeVideo__intro-title {
  font-family: "Archivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 0.95rem;
  letter-spacing: 0.175rem;
  color: #BDAC8D;
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
}
.homeVideo__main-title {
  font-family: "Old Standard TT", serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: -0.075rem;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}
.homeVideo__description {
  font-family: "Archivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  color: #C2C2C2;
  margin-bottom: 2rem;
  max-width: 338px;
}
.homeVideo__video-container {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 100%;
  position: relative;
}
.homeVideo__video-container__video {
  width: 335px;
  height: 270px;
  border: none;
}
.homeVideo__video-container__play-button {
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  background-color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.homeVideo__video-container__play-button img {
  width: 1.5rem;
  height: 1.5rem;
}
.homeVideo__button {
  font-family: "Archivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 0.95rem;
  letter-spacing: 0.175rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #BDAC8D;
  border: none;
  width: 13.5rem;
  height: 3.75rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s;
}
.homeVideo__button:hover {
  background-color: #aa946d;
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=style.css.map */