@import './globalVariables.scss';
@import './mixins.scss';
@import './components/navbar.scss';
@import './components/footer.scss';
@import'./components/luxuryExperience.scss';
@import './components/reservationCalendar.scss';
@import './components/homeAboutUs.scss';
@import './components/homeVideo.scss';
@import './components/homeInfo.scss';



html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    min-width: 320px
}