.OfferCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
    background-color: $whiteF8;

    &__imageContainer {
        position: relative;

        &__image {
            width: 20.938rem;
            height: 10.125rem;
            object-fit: cover;
        }
    }

    &__price {
        position: absolute;
        top: 7.5rem;
        right: 0.5rem;

        &-last {
            top: 5rem;
        }

        &__amount {
            font-family: $archivo;
            font-size: 2rem;
            font-weight: 700;
            line-height: 2.69rem;
            color: $red;

            &-last {
                color: $beige;
                font-size: 1.438rem;
                text-decoration: line-through;
            }
        }

        &__night {
            font-family: $archivo;
            font-size: 0.813rem;
            font-weight: 700;
            line-height: 2.69rem;
            color: $red;
            margin-left: -0.25rem;

            &-last {
                color: $beige;
                font-size: 0.688rem;
                text-decoration: line-through;
            }
        }
    }

    &__header {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        &__subtitle {
            @include sectionSubtitle($grey7, 0.875rem, 0.952rem);
            text-transform: uppercase;
            padding-bottom: 0.5rem;
        }

        &__title {
            @include titleOld($black2, 2.5rem, 3rem);
            letter-spacing: -0.09rem;
            max-width: 300px;
        }
    }

    &__description {
        @include robotoText400($grey7);
        max-width: 300px;
    }

    &__button {
        @include defaultButton($beige, $beigeHover, $whiteF);
        width: auto;
        height: auto;
        padding: 1.5rem 3rem;
        margin-right: 5rem;
    }

    @media only screen and (min-width: 1000px) {
        height: 46rem;
        position: relative;

        &__imageContainer {
            position: relative;

            &__image {
                width: 57rem;
                height: 21rem;
            }
        }

        &__price {
            top: 22.5rem;
            right: 4.5rem;
            z-index: 3;

            &-last {
                top: 20.5rem;
                z-index: 3;
            }
        }

        &__textContainer {
            background-color: white;
            top: 21rem;
            width: 50rem;
            position: absolute;
            z-index: 2;
            padding-left: 1.5rem;
            padding-top: 1.5rem;
        }

        &__header {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            &__title {
                max-width: 400px;
                margin-bottom: 2rem;
            }
        }

        &__description {
            max-width: 445px;
            display: inline-flex;
        }


    }
}